*{
    margin: 80;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #2e265a;
    height:100vh;
}
.interface .capa{
    font-weight: bold;
    text-align: center;
}
.interface figcaption{
    color: white;
    font-size: 20px;
}
.interface {
    padding: 25px 0;
    margin: 25px 0;
}
.interface h2{
    color: rgb(204, 3, 204);
    font-size: 40px;
    text-align: center;
}
.interface p{
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    font-style: italic;
    border-top:1px dashed #fff;
    border-bottom: 1px dashed #fff;
}
.interface span{
    color: #000;
}
h2.titulo span{
    color: purple;
}
.curiosities-container{
    color: white;
    padding: 25px 0;
    font-size: 30px;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}
.curiosities-container span{
    padding: 5px;
    color: #000;
}
.curiosities-container h3{
    color: #FF00FF;
    padding: 15px;
}
.btn-social button{
    width: 60px;
    right: 60px;
    border-radius: 50px;
    border: none;
    background-color: purple;
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}
.quotes-container{
    background-color: rgb(197, 196, 196);
    padding: 30px;
}
.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}
.quotes-container p{
    font-style: italic;
}
@media screen and (max-width: 500px){
    .curiosities-container{
        width: 100%;
        flex-direction:column;
    }
    
}